<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{sys/layout}">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style th:inline="text">
        html,body{
            width:100%;
            height:100%
        }

        body{
            font-family: "华文细黑";
            width: 100%;
            height:auto;
            background: url('/pub/images/timg.jpg') no-repeat;
            background-size:100%;
        }


    </style>

</head>





    <div layout:fragment="content" class="layui-body layui-tab-content site-demo site-demo-body">

        <!--<img th:src="@{~/pub/images/timg.jpg}" th:width="auto" th:height="auto">-->














    </div>













</body>

</html>