<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="~{sys/layout}">
<!-- layout文件路径-->

<head>
    <meta charset="utf-8" />
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>




    <div layout:fragment="content" class="layui-body layui-tab-content site-demo site-demo-body">

        <h1>首页</h1>





        <div class="layui-tab-item">
            <div class="layui-main">


                <div style="margin: 15px 0;">
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:970px;height:90px"
                         data-ad-client="ca-pub-6111334333458862"
                         data-ad-slot="6835627838"></ins>
                </div>



                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
                    <legend>相关</legend>
                </fieldset>
                <a class="layui-btn layui-btn-normal" href="/doc/element/progress.html" target="_blank">进度条文档</a>
            </div>
        </div>
    </div>













</body>

</html>